<nav class="navbar">

<div class="nav-left">

<button id="menuBtn" class="menu-btn">☰</button>

<a href="/dashboard" class="logo-link">
<img src="/images/logo.svg" class="logo">
</a>

</div>

<div class="nav-center">

<input type="text" class="search-bar" placeholder="Search projects, tools...">

</div>

<div class="nav-right">

<a href="notifications" class="icon">🔔</a>
<a href="/settings" class="icon">⚙️</a>
<a href="/profile" class="icon">👤</a>

</div>

</nav>
