/* RESET */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Inter',sans-serif;
}

body{
background:linear-gradient(135deg,#0B0F19,#111827);
color:white;
min-height:100vh;
}


/* NAVBAR */

.navbar{
height:60px;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 25px;

background:rgba(255,255,255,0.05);
backdrop-filter:blur(10px);

border-bottom:1px solid rgba(255,255,255,0.1);

position:fixed;
top:0;
width:100%;
z-index:1000;
}

.nav-left{
display:flex;
align-items:center;
gap:12px;
}

.menu-btn{
font-size:20px;
background:none;
border:none;
cursor:pointer;
color:white;
}

.logo{
height:32px;
}

.nav-center{
flex:1;
display:flex;
justify-content:center;
}

.search-bar{
width:380px;
padding:10px 14px;
border-radius:10px;
border:1px solid rgba(255,255,255,0.15);

background:rgba(255,255,255,0.05);
color:white;
}

.search-bar::placeholder{
color:#9CA3AF;
}

.nav-right{
display:flex;
gap:20px;
font-size:20px;
}

.icon{
text-decoration:none;
color:white;
transition:0.2s;
}

.icon:hover{
color:#6366F1;
}


/* SIDEBAR */

.sidebar{
position:fixed;
top:0;
left:-260px;
width:250px;
height:100%;

background:rgba(255,255,255,0.05);
backdrop-filter:blur(12px);

padding:20px;

border-right:1px solid rgba(255,255,255,0.1);

transition:0.3s;
z-index:1100;
}

.close-btn{
background:none;
border:none;
color:white;
font-size:20px;
cursor:pointer;
margin-bottom:10px;
}

.sidebar ul{
list-style:none;
margin-top:20px;
}

.sidebar li{
margin:16px 0;
}

.sidebar a{
text-decoration:none;
color:#E5E7EB;
font-size:16px;
transition:0.2s;
display:block;
padding:8px 10px;
border-radius:8px;
}

.sidebar a:hover{
background:rgba(255,255,255,0.05);
color:white;
}


/* OVERLAY */

#overlay{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;

background:rgba(0,0,0,0.5);
display:none;

z-index:1050;
}
