.sidebar{
position:fixed;
top:70px;
left:0;
width:240px;
height:100%;
background:#0B0F19;
border-right:1px solid rgba(255,255,255,0.08);
padding:20px;
z-index:900;
}

.sidebar ul{
list-style:none;
padding:0;
}

.sidebar li{
margin-bottom:16px;
}

.sidebar a{
color:white;
text-decoration:none;
font-size:15px;
display:block;
padding:8px 10px;
border-radius:8px;
}

.sidebar a:hover{
background:rgba(255,255,255,0.05);
}

.close-btn{
display:none;
}
