/* WORKSPACE HEADER */

.editor-header{

height:60px;

display:flex;
align-items:center;
justify-content:space-between;

padding:0 25px;

background:#0F172A;

border-bottom:1px solid rgba(255,255,255,0.08);

position:fixed;

top:0;
left:0;
right:0;

z-index:1000;

}



/* PROJECT TITLE */

.project-title{

font-size:16px;

font-weight:600;

color:#F9FAFB;

}



/* LEFT SECTION */

.header-left{

display:flex;

align-items:center;

gap:15px;

}



/* EXIT BUTTON */

.exit-btn{

background:#6366F1;

color:white;

text-decoration:none;

padding:6px 12px;

border-radius:8px;

font-size:14px;

transition:0.2s;

}

.exit-btn:hover{

background:#4F46E5;

}



/* SAVE BUTTON */

#saveBtn{

background:#6366F1;

color:white;

border:none;

padding:8px 16px;

border-radius:8px;

cursor:pointer;

transition:0.2s;

}

#saveBtn:hover{

background:#4F46E5;

}
